jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
kaggle==1.5.6
matplotlib==3.1.2
numpy==1.17.4
opencv-contrib-python==3.4.1.15
pandas==0.25.3
Pillow==8.3.2
scikit-image==0.16.2
scikit-learn==0.22
scipy==1.4.0
seaborn==0.9.0
tornado==6.0.3
tqdm==4.41.1